**.exp
**.exe
**.pdb
**.xml
**.user
**/x64
**/.vs
source/**.dll
**.miz
source/**.csv
source/MissionPostProcessingTool/MissionPostProcessingTool/backups
source/MissionPostProcessingTool/MissionPostProcessingTool/input
**.log
releases